<mat-card style="max-width: 400px; margin: 60px auto; padding: 24px;">
  <h2 style="text-align: center;">Login do Professor</h2>

  <mat-form-field appearance="fill" style="width: 100%; margin-bottom: 16px;">
    <mat-label>Nome</mat-label>
    <input matInput [(ngModel)]="nome" required>
  </mat-form-field>

  <mat-form-field appearance="fill" style="width: 100%; margin-bottom: 16px;">
    <mat-label>E-mail</mat-label>
    <input matInput [(ngModel)]="email" type="email" required>
  </mat-form-field>

  <mat-form-field appearance="fill" style="width: 100%; margin-bottom: 24px;">
    <mat-label>Senha</mat-label>
    <input matInput [(ngModel)]="senha" type="password" required>
  </mat-form-field>

  <button mat-raised-button color="primary" style="width: 100%;" (click)="login()">Entrar</button>
  <div style="text-align: center; margin-top: 12px;">
    <button mat-button color="accent" (click)="irParaCadastro()">Novo Cadastro</button>
  </div>

</mat-card>
